.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px;

  .left-content {
    width: 70%;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;

    .title {
      font-size: 30px;
      font-weight: 600;
    }

    .q-content {
      text-align: center;
      .question {
        font-size: 20px;
        font-weight: 600;
        padding: 20px 0;
      }

      .q-image {
        width: 100%;
        height: 280px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .answer {
        .a-child {
          text-align: left;
          padding-left: 50px;
          margin-bottom: 10px; // Cách dòng cho thoáng

          .form-check {
            display: flex;
            align-items: center;
            gap: 10px; // Khoảng cách giữa checkbox, chữ và icon

            .form-check-label {
              cursor: pointer;

              // Style khi ĐÚNG
              &.correct {
                color: #198754; // Màu xanh lá bootstrap
                font-weight: bold;
              }

              // Style khi SAI
              &.wrong {
                color: #dc3545; // Màu đỏ bootstrap
                font-weight: bold;
              }
            }

            // Style cho icon text (V) và (X)
            .icon-result {
              font-weight: bold;
              font-size: 18px;

              &.correct {
                color: #198754;
              }

              &.wrong {
                color: #dc3545;
              }
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      gap: 15px;
      justify-content: center;
      padding-bottom: 10px;
      margin-top: 20px;

      button {
        width: 6em;
      }
    }
  }

  .right-content {
    width: 30%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;

    .main-timer {
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
      text-align: center;
      font-weight: 600;
      padding-top: 10px;
      font-size: 20px;
    }
    .main-question {
      display: flex;
      gap: 20px;
      margin: 10px 0 0 15px;
      flex-wrap: wrap;
    }

    .question {
      border: 1px solid #ccc;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        border: 1px solid rgb(50, 50, 50);
        background-color: rgb(50, 50, 50);
        color: white;
      }
      &.selected {
        background-color: #595959;
        color: white;
      }
      &.clicked {
        color: red;
      }
    }
  }
}
