.admin-layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;

  .admin-sidebar {
    width: 250px;
    background-image: url("../../assets/bg-img.jpg");
    background-size: cover; // Ensures the image covers the entire sidebar
    background-repeat: no-repeat; // Prevents tiling
    background-position: center; // Keeps it centered
    color: white;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(16, 21, 41, 0.1);

    .sidebar {
      display: flex;
      flex-direction: column;
      height: 100%;

      .logo {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
      }

      .menu {
        list-style: none;
        padding: 0;

        li {
          padding: 12px 16px;
          border-radius: 6px;
          margin-bottom: 10px;
          cursor: pointer;
          transition: background 0.3s;

          &:hover {
            background-color: #334155;
          }
        }
      }
    }
  }

  .admin-content {
    flex-grow: 1;
    padding: 30px;
    background-color: #f1f5f9;
  }
}
