.admin-layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;

  .admin-sidebar {
    width: 250px;
    background-image: url("../../assets/bg-img.jpg");
    background-size: cover; // Ensures the image covers the entire sidebar
    background-repeat: no-repeat; // Prevents tiling
    background-position: center; // Keeps it centered
    color: white;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(16, 21, 41, 0.05);

    .sidebar {
      display: flex;
      flex-direction: column;
      height: 100%;

      .logo {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
        cursor: pointer;
      }

      .menu {
        list-style: none;
        padding: 0;

        li {
          padding: 12px 16px;
          border-radius: 6px;
          margin-bottom: 10px;
          cursor: pointer;
          transition: background 0.3s;

          &:hover {
            background-color: rgba(22, 28, 53, 0.6);
            font-weight: 600;
          }

          a {
            color: white;
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .admin-content {
    flex-grow: 1;
    background-color: #f1f5f9;

    .admin-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      width: 100%;
      height: 60px;
      background-color: #ffffff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      padding: 0 20px 0 10px;
    }

    .admin-main {
      padding: 25px;
      .user-pagination {
        display: flex;
        justify-content: center;
        height: 1vh;
      }
    }
  }
}
