.questions-container {
  padding: 15px;

  .title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }

  .questions-content {
    display: flex;
    gap: 25px;

    .description {
      width: 50%;
    }

    .group-upload {
      display: flex;
      align-items: center;
      .label-upload {
        display: flex;
        align-items: center;
        height: 30px;
        border: 1px solid rgb(95, 95, 95);
        border-radius: 5px;
        padding: 0 15px;
        margin-right: 5px;
        cursor: pointer;

        &:hover {
          background-color: rgb(95, 95, 95);
          color: white;
          font-weight: 500;
          border: 1px solid rgb(39, 39, 39);
        }
      }
    }

    .btn-ques {
      padding-top: 15px;

      .icon-add-ques {
        font-size: 30px;
        color: rgb(29, 29, 29);
        cursor: pointer;
      }

      .icon-remove-ques {
        margin-left: 10px;
        font-size: 30px;
        color: rgb(67, 67, 67);
        cursor: pointer;
      }
    }
  }

  .answers-content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding-left: 20px;

    // .iscorrect {
    // }

    .answer-name {
      width: 47%;
    }
    .btn-ans {
      display: flex;
      align-items: center;

      gap: 5px;
      .icon-add-ans {
        font-size: 25px;
        cursor: pointer;
      }

      .icon-remove-ans {
        font-size: 25px;
        cursor: pointer;
      }
    }
  }
}
