.dashboard-container {
  font-size: 25px;
  font-weight: 600;

  .sub-title {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    margin-top: 10px;
  }

  .content {
    display: flex;
    height: 500px;

    .c-left {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      padding: 10px;

      .child {
        width: 45%;
        border: 1px solid blue;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        font-weight: 500;

        .text-2 {
          font-size: 35px;
        }
      }
    }
    .c-right {
      width: 50%;
    }
  }
}
