html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-color: rgb(250, 235, 208);
  height: 100%;

  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 5px;
      border: 1px solid #535353;
      height: 35px;
    }
    .btn-signup {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 5px;
      background-color: #303030;
      color: white;
      height: 35px;

      &:hover {
        background-color: black;
      }
    }

    .navbar {
      padding-top: 20px;
      .nav-link {
        // Dấu & để xác định là active ngang hàng với nav-link
        &.active {
          color: purple;
        }
      }
    }
  }
  .homepage-container {
    .homepage-content {
      position: relative;
      padding: 0 100px;
      margin-top: 100px;
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .main-title {
        font-size: 35px;
        font-weight: 600;
      }
      .content-title {
        font-size: 20px;
      }
      .getStarted-button {
        border-radius: 5px;
        padding: 0 15px;
        background-color: #303030;
        color: white;
        height: 40px;

        &:hover {
          background-color: black;
        }
      }
    }
  }

  .app-content {
    height: calc(100vh - 60px);
  }
}
video {
  background-color: rgb(250, 235, 208);
  position: fixed;
  bottom: 0;
  width: 150vw;
}
