body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 5px;
      border: 1px solid #535353;
      height: 40px;
    }
    .btn-signup {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 5px;
      background-color: #303030;
      color: white;
      height: 40px;

      &:hover {
        background-color: black;
      }
    }

    .navbar {
      padding-top: 20px;
      .nav-link {
        // Dấu & để xác định là active ngang hàng với nav-link
        &.active {
          color: purple;
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
