.login-container {
  .header {
    height: 45px;
    text-align: right;
    padding: 10px 100px 0;

    button {
      padding: 3px 15px;
      margin-left: 15px;
      border-radius: 5px;
      background: white;
      border: 1px solid;
    }

    button:hover {
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }
  .title {
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
  }

  .welcome {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }

  .content-form {
    input {
      margin: 3px 0 15px;
    }

    button {
      width: 100%;
      height: 40px;
      border: none;
      margin: 20px 0;
      border-radius: 5px;
      color: white;
      background-color: black;
    }

    button:hover {
      cursor: pointer;
      font-weight: 500;
      border: 1px solid;
    }

    .back:hover {
      cursor: pointer;
      font-weight: 500;
    }
  }

  .loaderIcon {
    font-size: 14px;
    margin-bottom: 3px;
    color: white;
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
  }
}
